{% include 'header/header.html' %}
<body>
<div class="container">
    <form action="/submit/" method="POST">
        {% csrf_token %}
        <p>{{ request.session.username }}</p>
        <div class="form-group">
            <label>Student ID</label>
            <input type="text" name="student_id" class="form-control text-uppercase"/>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control text-uppercase"/>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control text-uppercase"/>
        </div>
        <div class="form-group">
            <label>Place of Birth</label>
            <input type="text" name="pob" class="form-control text-uppercase"/>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" name="tanggal_lahir" class="form-control"/>
        </div>
         <div class="form-group">
            <label>Email</label>
            <input type="email" name="student_email" class="form-control"/>
        </div>
         <div class="form-group">
            <label>Phone Number</label>
            <input type="text" name="student_phone" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" name="cari" value="Cari Siswa" class="btn btn-primary"/>
        </div>
    </form>
</div>
{% include 'header/header.html' %}
